@use "../abstracts" as *;

.overlay {
  display: flex;

  @include portrait {
    flex-direction: column;
  }

  &__view {
    width: 175px;
    height: 100vh;
    background-image: linear-gradient(
      146.25deg,
      #5b5b5b 11.59%,
      #000000 90.48%
    );
    transition: width 0.3s ease-in-out;

    @include desktop {
      width: 270px;
      height: 100vh;
    }

    &--closed {
      width: 0;
      height: 100vh;
    }

    @include portrait {
      background-image: none;
      background-color: #282828;
      width: 100vw;
      height: 50px;
      transition: height 0.3s ease-in-out;

      &--closed {
        width: 100vw;
        height: 0;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1d1d1d;
    width: 40px;
    height: 100vh;

    @include portrait {
      flex-direction: row;
      justify-content: space-between;

      width: 100vw;
      height: 40px;
    }

    @include desktop {
      width: 50px;
      height: 100vh;
    }

    &__collapse {
      margin-top: 2.5em;
      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &--closed {
        transform: rotate(180deg);
      }

      @include portrait {
        transform: rotate(90deg);
        margin-top: 0;
        margin-right: 10px;

        &--closed {
          transform: rotate(270deg);
        }
      }
    }
  }
}
