@use "../abstracts" as *;

@mixin left-to-right($device, $width) {
  animation: #{$device}-left-to-right 0.3s ease-in-out forwards;

  @keyframes #{$device}-left-to-right {
    from {
      width: 0px;
    }
    to {
      width: $width;
    }
  }
}

@mixin right-to-left($device, $width) {
  animation: #{$device}-right-to-left 0.3s ease-in-out forwards;

  @keyframes #{$device}-right-to-left {
    from {
      width: $width;
    }
    to {
      width: 0px;
    }
  }
}

.overlay {
  display: flex;

  @include portrait {
    flex-direction: column;
  }

  &__view {
    width: 175px;
    height: 100vh;
    background-image: linear-gradient(
      146.25deg,
      #5b5b5b 11.59%,
      #000000 90.48%
    );

    @include desktop {
      width: 270px;
      height: 100vh;
    }

    &--opened {
      @include left-to-right(others, 175px);

      @include desktop {
        @include left-to-right(desktop, 270px);
      }
    }

    &--closed {
      width: 0;
      height: 100vh;

      @include right-to-left(others, 175px);

      @include desktop {
        @include right-to-left(desktop, 270px);
      }
    }

    @include portrait {
      background-image: none;
      background-color: #282828;
      width: 100vw;
      height: 50px;

      &--opened {
        animation: top-to-bottom 0.3s ease-in-out forwards;

        @keyframes top-to-bottom {
          from {
            height: 0px;
          }
          to {
            height: 50px;
          }
        }
      }

      &--closed {
        width: 100vw;
        height: 0;
        animation: bottom-to-top 0.3s ease-in-out forwards;

        @keyframes bottom-to-top {
          from {
            height: 50px;
          }
          to {
            height: 0px;
          }
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1d1d1d;
    width: 40px;
    height: 100vh;

    @include portrait {
      flex-direction: row;
      justify-content: space-between;

      width: 100vw;
      height: 40px;
    }

    @include desktop {
      width: 50px;
      height: 100vh;
    }

    &__collapse {
      margin-top: 2.5em;
      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &--closed {
        transform: rotate(180deg);
      }

      @include portrait {
        transform: rotate(90deg);
        margin-top: 0;
        margin-right: 10px;

        &--closed {
          transform: rotate(270deg);
        }
      }
    }
  }
}
